{% extends "layout.jinja2" %}

{% block todocontent %}
<section id="todoapp">
    <header id="header">
        <h1>todos</h1>

        <form action="{{request.route_url('viewtodo')}}" method="post" class="form">
            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
            {{form.taskname(id='new-todo', class_='form-control', placeholder="What needs to be done?", autofocus=true)}}
            {% for error in form.taskname.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </form>

    </header>
    <section id="main">
        <ul id="todo-list">
            {% for task in tasks %}
            <li data-id="task-{{ task.taskid }}"
                class="{% if task.status == 'COMPLETED' %}completed{% endif %}">
                <div class="view">
                    <!-- <input class="toggle" type="checkbox"> -->

                    <label>{{ task.description }}</label>

                    <a href="/task_delete/{{ task.taskid }}"
                    class="destroy" title="Delete task '{{ task.description }}'"></a>

                    <a href="/task_complete/{{ task.taskid }}"
                    class="complete" title="Complete task '{{ task.description }}'"></a>
                </div>
            </li>
          {% endfor %}
        </ul>
    </section>
    <footer id="footer">
        <span id="todo-count">
            <strong>{{ items_left }}</strong> items left
        </span>
        <ul id="filters">
            <li>
                <a href="/todo/all" {% if viewtype == 'ALL' %}class="selected"{% endif %}>All</a>
            </li>
            <li>
                <a href="/todo/active" {% if viewtype == 'ACTIVE' %}class="selected"{% endif %}>Active</a>
            </li>
            <li>
                <a href="/todo/completed" {% if viewtype == 'completed' %}class="selected"{% endif %}>Completed</a>
            </li>
        </ul>
        <a id="clear-completed" href="/clear_completed">Clear completed</a>
    </footer>
    </section>
{% endblock %}
